.container {
    display: grid;
    grid-template-columns: repeat(16, 70px);
    grid-template-rows: repeat(16, 50px);
    padding: 10px;
    justify-content: center;
    gap: 5px;
}

.grid {
    border: solid black 3px;
    /* gap: 5px; */
}