h1 {
    display: flex;
    justify-content: center;
}

.container {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    padding: 10px;
    justify-content: center;
}

.grid {
    border: solid black 1px;
}

.grid_adjust {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.features {
    display: flex;
    justify-content: center;
}